
<!DOCTYPE html>
<html>
<head>
  <title>Sharper Portfolio</title>
  {% load staticfiles %}
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

  <link rel="stylesheet" href="{% static 'css/custom.css' %}">

</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #000000;">
    <a class="navbar-brand py-0" id="logo" href="#">SETH HARPER</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link py-0" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="{% url 'about' %}">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link py-0" href="http://fah-web2.stanford.edu/cgi-bin/main.py?qtype=teampage&teamnum=171089">Folding@Home</a>
        </li>

      </ul>
    </div>
  </nav>

  <div class="container">
    <div class="jumbotron jumbotron-home center-me">
      <h1 class="white-text">"Mudhole? Slimy? My home this is!" -Yoda</h1>

    </div>
  </div>

  <div class="container">
    <footer class="footer">
      <small>
        Copyright &copy; 2018 <a href="https://www.sharperprogrammer.com">Seth Harper</a>
        - Last Updated 7:03am, June 7th, 2019
      </small>
      <nav>
        <ul>
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'about' %}">About</a></li>
          <li><a href="http://fah-web2.stanford.edu/cgi-bin/main.py?qtype=teampage&teamnum=171089">Folding@Home</a></li>
        </ul>
      </nav>
    </footer>
  </div>


  <script src="{% static 'jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>


</body>
</html>
